<h1>{{heroe.nombre}}<small> Fecha de aparición: {{heroe.aparicion}} </small></h1>
<hr>

<div class="row">
    <div class="col-md-4">
        <img class="heroeBio animated fadeIn" [src]="heroe.img" [alt]="heroe.nombre">
        <br><br>
        <button (click)="regresaHeroes()" class="btn btn-outline-danger btn-block" type="button">Regresar</button>
    </div>

    <div class="col-md-8 animated fadeIn">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>
        <div>
            <img [src]="heroe.imgCasa" class="animated fadeIn"  [alt]="heroe.nombre">
        </div>
    </div>

</div>