<div class="alert" [ngClass]="'alert-primary'" role="alert">
    This is a primary alert—check it out!
</div>

<div class="alert" [ngClass]="alerta" role="alert">
    This is a primary alert—check it out!
</div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-info" (click)="alerta = 'btn-info'">
          Info
        </button>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-danger" (click)="alerta = 'btn-danger'">
          Danger
        </button>
    </div>
</div>

<h3 [ngClass]="{'text-danger': propiedades.danger,'text-info':!propiedades.danger}">Hola Mundo</h3>

<button type="button" class="btn btn-danger" (click)="propiedades.danger = !propiedades.danger" [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">
  Cambiar
</button>

<br><br>

<button type="button" class="btn btn-primary" (click)="ejecutar()">
    <i class="fa " [ngClass]="{'fa-save': !loading, 'fa-refresh fa-spin': loading}"></i> 
    <span *ngIf="!loading" >  Guardar Cambios</span>
    <span *ngIf="loading" >  Espere...</span>
</button>